@import "tailwindcss";
@config "../tailwind.config.ts";


@theme {
  --font-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;
}


body {
  background-color: #f3f4f6;
  /* bg-gray-100과 동일 */
  margin: 0;
  padding: 0;
}